doctype

html

	head
		title S M I T H B O Y S
		link(rel='stylesheet' href='/static/smithboys.css')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')

		script.
			if ( location.hostname.indexOf( 'local' ) === -1 && location.protocol !== 'https:' ) {
				location.protocol = 'https:'
			}

	body

		#map

		#info-template
			.name
			.distance
			.location
			.sublocation
			.address
			.postcode

		script(src=`/static/smithboys.js`)
		script(async, defer, src=`https://maps.googleapis.com/maps/api/js?key=${GMAPS_API_KEY}&callback=initMap`)
		script
			!= `var pubs = ${JSON.stringify(pubs)}`
		script
			!= `var GA_ID = '${GA_ID}'`

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', GA_ID, 'auto');
			ga('send', 'pageview');
